<hr class="dropdown-divider m-4" />

<div class="container">
  <h3 class="m-2">Query and Mutation in GraphQL by Apollo Client</h3>
  <div *ngIf="errorMessage" class="text-danger">{{ errorMessage }}</div>
  <form>
    <div class="row g-3 m-2">
      <div class="col-auto">
        <label for="txtSearch" class="form-label">BookId:</label>
        <input
          type="text"
          id="txtSearch"
          name="txtSearch"
          class="form-control"
          [(ngModel)]="bookId"
          placeholder="BookId,e.g. 60fb61b6d5b7b184eb38204a"
        />
      </div>
      <div class="col-auto">
        <button
          class="btn btn-primary"
          (click)="refetchOneBookFromApolloCache()"
        >
          refetchone book from network
        </button>
        <button class="btn btn-primary" (click)="evictCache()">
          evict cache
        </button>
        <button class="btn btn-primary" (click)="searchBookById()">
          Find One Book
        </button>

        <button class="m-2 btn btn-warning" (click)="getBooksByMultiBookId()">
          Multi author1
        </button>
        <button class="m-2 btn btn-info" (click)="getBooksByMultiBookIdVer2()">
          Multi authors2
        </button>
      </div>
    </div>
    <div class="border border-2 border-success">
      <div>Books By the same author</div>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Genre</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let book of BooksByAuthors">
            <td>{{ book.id }}</td>
            <td>{{ book.name }}</td>
            <td>{{ book.genre }}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="row g-3 m-2">
      <div class="col-auto">
        <label for="txtBooksSearch" class="visually-hidden"
          >Search By AuthorId</label
        >
        <input
          type="text"
          id="txtBooksSearch"
          name="txtBooksSearch"
          class="form-control"
          [(ngModel)]="authorId"
          placeholder="authorId,e.g. 61ce3545453f1708be60ed46"
        />
      </div>
      <div class="col-auto">
        <button
          class="btn btn-primary"
          (click)="getBooksByAuthorId(this.authorId)"
        >
          Find books by AuthorId
        </button>
      </div>
    </div>

    <div class="h-1 text-primary">...</div>

    <div class="col-auto">
      <label for="txtBookName" class="form-label">Book Name:</label>
      <input
        type="text"
        [(ngModel)]="bookName"
        name="txtBookName"
        class="form-control"
        id="txtBookName"
        placeholder="The Little Prince"
      />
    </div>
    <div class="col-auto">
      <label for="txtBookGenre" class="form-label">Book Genre:</label>
      <input
        type="text"
        [(ngModel)]="genre"
        name="txtBookGenre"
        class="form-control"
        id="txtBookGenre"
        placeholder="fantasy"
      />
    </div>
    <div class="col-auto">
      <label for="txtAuthorId" class="form-label">Author ID:</label>
      <input
        type="text"
        [(ngModel)]="authorId"
        name="txtAuthorId"
        class="form-control"
        id="txtAuthorId"
        placeholder="60fb5e9216313d8298f0799a"
      />
    </div>
    <div class="col-auto">
      <button type="submit" class="btn btn-primary" (click)="addOneBook()">
        Add One Book
      </button>
    </div>

    <table class="table table_dark table-striped">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Name</th>
          <th scope="col">Genre</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let book of allBooks; trackBy: bookTrackBy">
          <td>{{ book.id }}</td>
          <td>{{ book.name }}</td>
          <td>{{ book.genre }}</td>
        </tr>
      </tbody>
    </table>
  </form>
</div>
